<!DOCTYPE html>
<html>
<head>
    <title>California Housing Prediction</title>
</head>
<body>
    <h2>California Housing Price Prediction</h2>
    <form action="/predict" method="post">
        MedInc: <input type="text" name="MedInc"><br><br>
        HouseAge: <input type="text" name="HouseAge"><br><br>
        AveRooms: <input type="text" name="AveRooms"><br><br>
        AveBedrms: <input type="text" name="AveBedrms"><br><br>
        Population: <input type="text" name="Population"><br><br>
        AveOccup: <input type="text" name="AveOccup"><br><br>
        Latitude: <input type="text" name="Latitude"><br><br>
        Longitude: <input type="text" name="Longitude"><br><br>
        <button type="submit">Predict</button>
    </form>

    {% if prediction_text %}
    <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
